<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Summarizer</title>
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header class="bg-primary text-white text-center py-4">
        <h1>News Summarizer</h1>
    </header>
    <main class="container mt-4">
        <div class="text-right mb-3">
            {% if not current_user.is_authenticated %}
            <a href="{{ url_for('login') }}" class="btn btn-outline-primary">Login</a>
            {% else %}
            <h5>Welcome, {{ current_user.username }}!</h5>
            <a href="{{ url_for('auth.logout') }}" class="btn btn-outline-danger">Logout</a>
            {% endif %}
        </div>

        <form action="{{ url_for('search') }}" method="POST" class="mb-4">
            <div class="input-group">
                <input type="text" name="query" class="form-control" placeholder="Enter your query" required>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>
        </form>

        {% if data.articles %}
        <div id="articles">
            {% for article in data.articles %}
            <div class="article mb-4 p-3 border rounded">
                <a href="{{ url_for('full_article', article_id=article._id) }}">
                    
                    {% if article.full_article.title != 'No title found' %}
                    <h2 class="article-title">{{ article.full_article.title }}</h2>
                    {% elif article.new_title != 'No title found' %}
                    <h2 class="article-title">{{ article.new_title }}</h2>
                    {% else %}
                    <h2 class="article-title">{% set content_words = article.full_article.summary.split() %}
                    {{ content_words[:5] | join(' ') }}...</h2>
                    
                    {% endif %}
                </a>
                <p><strong>Date:</strong> {{ article.date }}</p>

                {% set words = article.full_article.summary.split(' ') %}

                <p id="less-summary-{{ article._id }}" class="less-summary" style="display: block;">
                    {% if words|length > 40 %}
                    {{ words[0:40] | join(' ') }}...
                    <a href="#" class="read-more" onclick="toggleSummary('{{ article._id }}'); return false;">Read More</a>
                    {% else %}
                    {{ article.full_article.summary }}
                    {% endif %}
                </p>

                <div id="full-summary-{{ article._id }}" class="full-summary" style="display: none;">
                    <p>{{ article.full_article.summary }}</p>
                    <a href="#" class="read-more" onclick="toggleSummary('{{ article._id }}'); return false;">Read Less</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            No articles found.
        </div>
        {% endif %}
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function toggleSummary(articleId) {
            const lessSummary = document.getElementById('less-summary-' + articleId);
            const fullSummary = document.getElementById('full-summary-' + articleId);

            if (fullSummary.style.display === 'none' || fullSummary.style.display === '') {
                lessSummary.style.display = 'none';
                fullSummary.style.display = 'block';
            } else {
                lessSummary.style.display = 'block';
                fullSummary.style.display = 'none';
            }
        }

        function checkOtherOption() {
            const select = document.getElementById('categorySelect');
            const manualEntry = document.getElementById('manualEntry');
            manualEntry.style.display = select.value === 'other' ? 'block' : 'none';
        }
    </script>

</body>

</html> 


<!-- 

<!DOCTYPE HTML>
<html>
<head>
    
    <title>News Summarizer</title>
    Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css" />

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/move-top.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/easing.js') }}"></script>

    <!-- Smooth Scrolling -->
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){       
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>

    <!-- Custom Theme files -->
    <link href="{{ url_for('static', filename='css/theme-style.css') }}" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/css/font-awesome.min.css') }}">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
</head>

<body>
    <!-- Header Section -->
    <div id="home" class="header scroll">
        <div class="container">
            <div class="logo">
                <a href="{{ url_for('index') }}"><p>News Summarizer</p></a>
            </div>
            <!-- Top Navigation -->
            <nav class="top-nav">
                <ul class="top-nav">
                    <li class="active"><a href="#home" class="scroll">Home</a></li>
                    <li><a href="#contact" class="scroll">Contact</a></li>
                </ul>
                <a href="#" id="pull"><img src="{{ url_for('static', filename='images/nav-icon.png') }}" title="menu" /></a>
                <div class="text-right mb-3">
                    {% if not current_user.is_authenticated %}
                    <a href="{{ url_for('auth.login') }}" class="btn btn-outline-primary">Login</a>
                    {% else %}
                    <h5>Welcome, {{ current_user.username }}!</h5>
                    <a href="{{ url_for('auth.logout') }}" class="btn btn-outline-danger">Logout</a>
                    {% endif %}
                </div>
            </nav>
            <div class="clearfix mb-5"> </div>
            <div class="slide-text text-center">
                <h1 class="mb-5">High Quality Summarizer</h1>
                <span>Built with love.</span>
                
                  
                <form action="{{ url_for('search') }}" method="POST" class="mb-4">
                    <div class="input-group">
                        
                        <input type="text" name="query" class="form-control border-0 bg-light" placeholder="Enter your query" required>
                        <button class="btn btn-primary slide-btn" type="submit">Search</button>
                        <div class="input-group-append">
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </div>

    <!-- Main Content Section -->
    <main class="container mt-4">
       

        

        {% if data.articles %}
        <div id="articles">
            {% for article in data.articles %}
            <div class="article mb-4 p-3 border rounded">
                <a href="{{ url_for('full_article', article_id=article._id) }}">
                    {% if article.full_article.title != 'No title found' %}
                    <h2 class="article-title">{{ article.full_article.title }}</h2>
                    {% else %}
                    <h2 class="article-title">{{ article.full_article.summary.split(' ')[:5] | join(' ') }}...</h2>
                    {% endif %}
                </a>
                <p><strong>Date:</strong> {{ article.date }}</p>

                <p id="less-summary-{{ article._id }}" class="less-summary" style="display: block;">
                    {% if article.full_article.summary.split(' ')|length > 40 %}
                    {{ article.full_article.summary.split(' ')[:40] | join(' ') }}...
                    <a href="#" class="read-more" onclick="toggleSummary('{{ article._id }}'); return false;">Read More</a>
                    {% else %}
                    {{ article.full_article.summary }}
                    {% endif %}
                </p>

                <div id="full-summary-{{ article._id }}" class="full-summary" style="display: none;">
                    <p>{{ article.full_article.summary }}</p>
                    <a href="#" class="read-more" onclick="toggleSummary('{{ article._id }}'); return false;">Read Less</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            No articles found.
        </div>
        {% endif %}
    </main>

    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="footer-left">
                <a href="#"><img src="{{ url_for('static', filename='images/footer-logo.png') }}" title="mabur" /></a>
            </div>
            <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
        </div>
    </div>

    <!-- JS Files -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function toggleSummary(articleId) {
            const lessSummary = document.getElementById('less-summary-' + articleId);
            const fullSummary = document.getElementById('full-summary-' + articleId);

            if (fullSummary.style.display === 'none' || fullSummary.style.display === '') {
                lessSummary.style.display = 'none';
                fullSummary.style.display = 'block';
            } else {
                lessSummary.style.display = 'block';
                fullSummary.style.display = 'none';
            }
        }
    </script>
</body>
</html>
